*{
    margin: 0;
    padding: 0;
    
}

.container{
    margin-left: 15px;
    margin-right: 15px;


}
/* Start Heder*/
.header{
    padding: 20px;
   background-color:#1F222C
}
.header .container{
    justify-content: space-between;
    display: flex;

    

}
.header h1{
    font-variant:small-caps;
    font-size:40px ;
    color: whitesmoke;
    
}
.header .container  p{
 color: whitesmoke;
 font-size: 12px;
}

.header nav ul{
    margin-top: 8%
}

.header nav ul li {
list-style: none;
display: inline;
margin: 15px;

}

.header nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    
}

.header nav input {
    float: right;
    width: 210px;
    border-radius: 5px;
    background-color:#1F232C ;
  
    
}

/*End header*/
/* Section start*/
section{
  background-color: #333333; 
  height: 300px; 
}
.container .P1{
    
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
}
/*End section*/
/* Start Contact Section */
.contact{
background-color: #E7E7E7;
height: 100px;
padding: 20px;

}

.contact .container{
    display: flex;
    justify-content: space-between;
}
.container .P2{
font-size: 32px;
padding-top: 15px;
font-weight:500;

}
.contact .container button{
    font-size: 26px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 15px;
   
}
/* End contact Section */
/* Start Service Section */
.services{
padding: 20px;


}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 30px;
    padding: 20px;
}
.services .container .image{
 display: flex;
 
}
.services .container img{
    margin-right:8px ;
  
}
.services .container .image h2{
font-size: 20px;
text-decoration: underline;
padding: 5px
}
.services .container .image p{
    font-size: 13px;
    }
/* End service Section */
/* Start Facilis Section */
.facilis{
    padding: 20px;
    
    
    }
    .facilis .container .line{
       display: flex;
       align-items: center;
       
    }
    .facilis .container .line hr{
        height: 0;
        width: 43%;
        border: 1px solid black;
       
        
    }
.facilis .line h2{
    font-size: 20px;
   margin-right:10px ;
   margin-left:10px ;
    text-align: center;
    
   
}

.facilis .container .image{
display:inline-block;

width: 30%;
background-color: #EEEEEE;
margin: 15px;
    
 
}
.facilis .container .image img{
    width: 100%;
    
}
.facilis .container .image h2 {
    font-size: 14px;
    color: #1F212C;
    text-align: center;
    padding-top: 20px;
    
}
.facilis .container .image p{
    font-size: 11px;
    color: #979797;
    text-align: center;
    padding: 10px;
   
    
}

/* End facilis Section */
/* Start footer Section */
footer {
 padding: 20px;
 background-color: #EEEEEE;
    
}

footer .container .column{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
    
}
footer .container .contact-us h2{
  font-size: 25px;
  padding-bottom: 20px;
}
footer .container .contact-us p{
    font-size: 18px;
   line-height: 1.5em;
}
footer .container .Quick-link h2{
    font-size: 25px;
    padding-bottom: 20px;
}
footer .container .Quick-link p{
    font-size: 18px;
    line-height: 2em;
   
}
.blog h2{
    font-size: 25px;
    padding-bottom: 20px;   
}
.blog p{
    font-size: 18px;
    line-height: 2em;  
}
.blog a {
    float: right;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
   
}

.contact-form h2{
    font-size: 25px;
    padding-bottom: 20px; 
}
.contact-form form{
    width: 225px;
}
.contact-form form input{
    margin: 7px 0;
    height: 31px;
    border-radius: 8px;
    border: 1px solid white;
}
.contact-form form input[type="submit"]{
    width: 80px;
    color:white ;
    background-color:#1F232C ;
    font-size: 13px;
}
.contact-form form input[type="text"]{
width: 225px;

}
.contact-form form input[type="email"]{
width: 225px;
}



.mini-footer{
    background-color: #1F232C;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.mini-footer p{
    color:#737373;
    padding: 20px;
    
}

/*End footer Section */